body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #000;
	line-height: 1;
}

input {
	width: 100%;

}

span {
	position: absolute;
}

.btn-block {
	display: inline-block;
	max-width: 100px;
	min-width: 100px;
	height: 100px;
	margin: 12.5px;
	background-color: #fff;
	outline: none;
}

.modal {
	position: absolute;
	top: 10px;
	left: 45%;
	width: 512.5px;
	height: auto;	
	background-color: transparent;
	border: 1px solid green;
}

.modal--input {
	border: none;
	width: 100%;	
}

.modal--btn {
	width: 100%;
	table-layout: fixed;
}

td {
	background-color: #fff;
}
